{% extends 'base.html' %}
{% load i18n %}
{% block body %}
    <br/>
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans 'Encurtador de URL' %}</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <a href="{{request.scheme}}://{{request.get_host}}/{{short_url.code}}">
                        <h2>
                            {{request.scheme}}://{{request.get_host}}/{{short_url.code}}
                            <br/>
                            <small>{{short_url.url}}</small>
                        </h2>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <a href="{% url 'shortener:url-create' %}"
                       class="btn btn-primary">
                        {% trans 'Encurtar Outra' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}