<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="All Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>